$primary-color: rgb(234, 172, 186); //rgb(199, 219, 231);//rgb(231, 231, 173);
$tertiary-color: rgb(170, 167, 167);
$secondary-color: #fff;
$text-color: rgb(64, 61, 61);
$primary-font: Candara;
// $primary-font: Tahoma;
// $primary-font: 'Franklin Gothic Book';
